<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li><a href="#" onclick="showSection('upload')">Upload</a></li>
                <li><a href="#" onclick="showSection('view-videos')">Videos</a></li>
                <li><a href="#" onclick="showSection('read-comments')">Comments</a></li>
                <li><a href="#" onclick="showSection('view-documents')">Documents</a></li>
                <li><a href="#" onclick="showSection('edit-videos')">Edit</a></li>
                <li><a href="#" onclick="showSection('add-user')">Add User</a></li>
                <li><a href="#" onclick="showSection('logout')">Logout</a></li>
            </ul>
        </nav>
    </header>

    <section id="upload" class="hidden">
         <div class="container">
        <h1>Upload Form</h1>
        <form id="uploadForm" onsubmit="return false;">
            <div class="form-group">
                <label for="contentName">Content Name:</label>
                <input type="text" id="contentName" name="contentName" required>
            </div>
            <div class="form-group">
                <label for="contentType">Content Type:</label>
                <select id="contentType" name="contentType" required>
                    <option value="">Select Content Type</option>
                    <option value="Video">Video</option>
                    <option value="Document">Document</option>
                </select>
            </div>
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea id="comment" name="comment"></textarea>
            </div>
            <div class="form-group">
                <label for="file">Upload File:</label>
                <input type="file" id="file" name="file" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    </section>

    <section id="view-videos" class="hidden">
        <div class="video-container">
            <div class="video-list" id="videoList"></div>
            <div class="video-player" id="videoPlayer"></div>
          </div>
          
    </section>

    <section id="read-comments" class="hidden">
        <div id="commentsList"></div>
        <!-- Content for read comments section -->
    </section>

    <section id="view-documents" class="hidden">
        <div class="video-container">
            <div class="video-list" id="documentList"></div>
            <div class="video-player" id="documentPlayer"></div>
          </div>
       <!-- <iframe src="static/uploads/5C27HQX_Angular_Level_2.pdf" width="100%" height="500px"></iframe>  -->
    </section>

    <section id="edit-videos" class="hidden">
        <div class="video-container">
            <div style="width: 30%;">
                <div class="toggle-container">
                    <div>
                        <button class="toggle-btn active" onclick="toggleContent('videoEditList')">Videos</button>
                    </div>
                    <div>
                        <button class="toggle-btn" onclick="toggleContent('documentEditList')">Documents</button>
                    </div>
                </div>
                <div class="content active" id="videoEditList"></div>
                <div class="content" id="documentEditList"></div>
            </div>
            <div class="video-player" id="editScreen"></div>
        </div>
    </section>

    <section id="edit-documents" class="hidden">
        <h2>Edit Documents Section</h2>
        <!-- Content for edit documents section -->
    </section>

    <section id="add-user" class="hidden"> <!-- New section for adding user -->
        <div class="container">
            <h1>Add User</h1>
            <form id="addUserForm" onsubmit="return false;">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="text" id="password" name="password" required>
                </div>
                <div class="form-group" style="display: none;"> <!-- Hidden field for usertype -->
                    <label for="usertype">Usertype:</label>
                    <input type="text" id="usertype" name="usertype" value="user">
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </section>


    <footer>
        <!-- Footer content -->
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
